<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="Style/style.css">
    <title>{{title}}</title>
</head>
<body>
    {{>Hader}}
    <form action="" method="get">
        <input type="text" placeholder="enter your IP address">
        <button>Submit</button>
        <p id="result"></p>
    </form>
    {{>fotter}}
     <script src="/js/script.js"></script>
</body>
</html>